<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>enriched {{ document.meta.stem }}</title>
    <style>
.document-stats {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background: var(--bs-border-color);
  gap: 1px 0px;
  padding: 0;
  margin: 20px;
}
.document-stats > * {
  background: white;
  padding: 6px;
}
.document-stats .hdr {
  font-weight: bold;
}
@media (max-width: 1300px) {
  .document-stats {
    text-align: left;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
  }
}
    </style>
  </head>
  <body>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Document figure stats</h3>
    </div>
    <div class="card-body document-stats">
      <div class="hdr">Total number of figures</div>
      <div class="hdr">Categorized</div>
      <div class="hdr">Uncategorized</div>
      <div class="hdr">Non-tabular</div>
      <div class="hdr">Skipped</div>
      <div class="hdr">Maximum figure number</div>
      <div>{{ document.stats["skipped"] + document.stats["uncategorized"] + document.stats["categorized"] + document.stats["nontabular"] }}</div>
      <div>{{ document.stats["categorized"] }}</div>
      <div>{{ document.stats["uncategorized"] }}</div>
      <div>{{ document.stats["nontabular"] }}</div>
      <div>{{ document.stats["skipped"] }}</div>
      <div>{{ document.stats["max_figure_number"] }}</div>
    </div>
  </div>
  

  {% macro render_fields(figure, section) %}
  {% set discard_fields = ["table", "grid", "caption", "figure_nr", "description", "page_nr"] %}
  {% set fields = [] %}
  {% for field, value in figure.items() %}
      {% if field not in discard_fields %}
          {% set _ = fields.append((field, value)) %}
      {% endif %}
  {% endfor %}

  <table class="mb-0">
  <tr>
    <td><strong>Categorization</strong>:</td><td>{{ section | snake_to_pascal }}</td>
  </tr>
  {% for field, value in fields %}
  <tr>
    <td><strong>{{ field | snake_to_pascal }}</strong>:</td><td>{{ value }}</td>
  </tr>
  {% endfor %}
  </table>

  {% endmacro %}

  {% macro render_table(table) %}
  <table class="table mb-0">
  {% for row in table.rows or []%}
  <tr>
    {% for cell in row.cells %}
    <td>
      {{ cell.text }}
      {% for nested_table in cell.tables %}
      {{ render_table(nested_table) }}
      {% endfor %}
    </td>
    {% endfor %}
  </tr>
  {% else %}
  <tr><td>Non-tabular figure.</td></tr>
  {% endfor %}
  </table>
  {% endmacro %}

  {% macro render_grid(grid) %}
  <table class="table mb-0" >
  <thead class="table-dark">
  <tr>
    {% for field in grid["fields"] or []%}
    <th>{{ field | snake_to_pascal }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in grid["values"] or [] %}
  <tr>
    {% for value in row or [] %}
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% endmacro %}

  <!-- Sections and figures under those sections -->
  <div class="container mt-5">
  {% for section, figures in document.items() if not (section in ["meta", "skip_map", "stats"]) %}
  {% for figure in figures %}
  {% set figure_error_count = figure_errors.get(figure.figure_nr, []) | count %}
  <div class="card mb-4">

    <div class="card-header">
      <h3 class="card-title mb-0"><strong>Figure {{ figure.figure_nr }}</strong>: {{ figure.description }}</h5>
    </div>
    <div class="card-header">
      {{ render_fields(figure, section) }}
    </div>
    
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="figure_tabs_{{figure.figure_nr}}" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="grid_tab_{{figure.figure_nr}}" data-bs-toggle="tab" href="#grid_{{figure.figure_nr}}" role="tab" aria-controls="grid_{{figure.figure_nr}}" aria-selected="true">Grid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="table_tab_{{figure.figure_nr}}" data-bs-toggle="tab" href="#table_{{figure.figure_nr}}" role="tab" aria-controls="table_{{figure.figure_nr}}" aria-selected="false">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if figure_error_count %}text-danger{% endif %}" id="errors_tab_{{figure.figure_nr}}" data-bs-toggle="tab" href="#errors_{{figure.figure_nr}}" role="tab" aria-controls="errors_{{figure.figure_nr}}" aria-selected="false">Errors ({{ figure_error_count }})</a>
        </li>
      </ul>
    </div>
  
    <div class="card-body">
      <div class="tab-content" id="tabcontent">
        <div class="tab-pane fade show active" id="grid_{{figure.figure_nr}}" role="tabpanel" aria-labelledby="grid_tab_{{figure.figure_nr}}">
          <!-- GRID TABLE rendered -->
          {% if figure.figure_nr in document.skip_map %}
            Skipped with reason: {{ document.skip_map[figure.figure_nr][1] }}
          {% else %}
            {{ render_grid(figure.get('grid', None)) }}
          {% endif %}
        </div>
        <div class="tab-pane fade" id="table_{{figure.figure_nr}}" role="tabpanel" aria-labelledby="table_tab_{{figure.figure_nr}}">
          <!-- RAW TABLE rendered here -->
          {{ render_table(figure.table) }}
        </div>
        <div class="tab-pane fade" id="errors_{{figure.figure_nr}}" role="tabpanel" aria-labelledby="errors_tab_{{figure.figure_nr}}">

<pre>
{% for error in figure_errors.get(figure.figure_nr, []) %}
{{ error }}
{% else %}
No errors logged for this figure.
{% endfor %}
</pre>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>
